<%include ../partials/blog_header%>
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="/stylesheets/blog.css" type="text/css" rel="stylesheet" />

<div class="container header">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="heading">
                <h1>Jin's Blog</h1>
                <hr>
                <h3 style="color:white;">What the heck does he do??</h3>
            </div>
        </div>
    </div>
</div>
<div id="new_button">
    <a href="/blog/new">
        <img src="../images/blog/compose.png" alt="">
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="post_header">
            <h1>Latest NEWS</h1>
        </div>

        <div class="container marketing">
            <div class="row">
                <% posts.forEach(function(post, index){
                    var exp_edited = post.exp,
                            title_edited = post.title;

                    if (post.title.length > 20) {
                        title_edited = post.title.substring(0,17) +  "...";
                    }

                    if (post.exp.length > 100) {
                        exp_edited = post.exp.substring(0,97) +  "...";
                    }
                %>
                    <% if (index < 3) { %>
                        <% if (post.img){ %>
                            <div class="col-lg-4">
                                <img class="img-circle" src="<%= post.img[0] %>"width="140" height="140">
                                <h2><%= title_edited %></h2>
                                <p><%= exp_edited %></p>
                                <p><a class="btn btn-default" href="/blog/<%= post._id %>" role="button">View details &raquo;</a></p>
                            </div>
                        <% } %>
                    <% }else {%>
            </div>
            <hr class="post-divider">

            <div class="row post">
                <div class="col-md-7">
                    <h2 class="post-heading"> <%= post.title %></h2>
                    <p class="lead"><%= post.exp %></p>
                </div>
                <div class="col-md-5">
                    <img class="post-image img-responsive center-block" src="<%= post.img[0] %>" alt="No image">
                </div>
            </div>
        </div>
        <%} }); %>
    </div>
</div>

<%include ../partials/footer%>