<% include ../partials/blog_header%>
<link href="/stylesheets/show.css" type="text/css" rel="stylesheet" />

<div class="btn-group">
    <a class="btn btn-xs btn-warning" href="/blog/<%=  post._id %>/edit">Edit</a>
    <form id="delete-post" action="/blog/<%= post._id %>?_method=DELETE" method="POST">
        <button class="btn btn-xs btn-danger">Delete</button>
    </form>
</div>
    <div class="row show_header">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
            <h1><%= post.title%></h1>
        </div>
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h4><%= post.exp%></h4>
        </div>
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                        </p>
                        <hr>
                    </div>

                </div>
                <% if (post.img)
                    {post.img.forEach(function(img, index) {%>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 bombfell_html">
                            <img class="img-responsive" src="<%= img%>" alt="">
                        </div>
                        <div class="col-lg-6 col-md-6 bombfell_html">
                            <p><%= post.comment[index] %></p>
                        </div>
                    </div>
                    <hr>
                    <% });
                }%>
                <p style="font-style:italic; font-size: 15px;">
                    posted <%= post.createdAt.toDateString()%> by <%= post.author.username %>
                </p>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
            <a href="/blog"><button id="back_button" class="btn btn-lg btn-primary btn-block">Back</button></a>
        </div>
    </div>
<%include ../partials/footer%>